<div class="container">
    <div class="row">
    <div class="card-panel col s7">
            <img class="materialboxed" src="https://robohash.org/{{users.id}}png?bgset=bg2&size=185x185" style="padding:2%" id="info">
            <p>
                <ul>
                    <li><h5><span id="username">{{users.user}}</span></h5></li>
                    <li>{{users.email}}</li>
                    <li>{{users.phone}}</li><br>
                    <li><span id="blnce">{{users.credits}}</span> Credits</li>
                    <li><span id="addb"><a href="#modal2" class="waves-effect waves-light modal-trigger teal-text interaction" id="mdl2">Add Credits</a></span></li>
                    
                    {{!-- <li><a href="#">Update Contact Information</a></li> --}}
                </ul>
            </p>
    </div>
    <div class="col s1"></div>
    <div class="card-panel col s4">
            <p style="float: left">
                <ul>
                    <li><h5><span id="friends">Friends List</span></h5></li>
                    <li><i><p>C3PO</p></i></li>
                    <li><i><p>R0B0</p></i></li>
                    <li><i><p>BEEPBOOP</p></i></li>
                    {{!-- {{#each friends}}
                    <li><i><p>{{friend}}</p></i></li>
                    {{/each}} --}}
                </ul>
            </p></div>
        </div>

<!-- Your Goals -->

    <div class="row" id="goals">
        <h4>Your goals...</h4>
        {{#each goals}}
        <div class="row" id="go"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="https://robohash.org/{{user_id}}png?bgset=bg2&size=120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li>End Date: {{dateConversion goal_end}}</li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4"><a href="/view/{{goal_id}}"><button class="btn" style="margin-left: 10%">View</button></a></div>
                                <div class="col s4">
                                <p id="maxStakeText">Max Stake: {{max_wager}}</p>
                                </div>
                                <div class="col s4"></div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
    </div>

<!-- Your Stakes -->

<div class="row" id="stakes">
        <h4>Your stakes...</h4>
        {{#each stakes}}
        <div class="row" id="st"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="https://robohash.org/{{user_id}}png?bgset=bg2&size=120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><i><span id="username">{{user}}</span></i></li>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li>End Date: {{dateConversion goal_end}}</li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                <a href="/view/{{goal_id}}"><button class="btn" style="margin-left: 10%">View</button></a>
                                </div>
                                <div class="col s4">
                                    
                                    <p>Your stake: {{wager_amount}}</p>
                                </div>
                                <div class="col s4">
                                </div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
    </div>

<!-- Following -->

    <div class="row" id="folo">
    <h4>You are following...</h4>
 {{#each follows}}
        <div class="row" id="fo"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="https://robohash.org/{{user_id}}png?bgset=bg2&size=120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><i><span id="username">{{user}}</span></i></li>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li>End Date: {{dateConversion goal_end}}</li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                <a href="/view/{{goal_id}}"><button class="btn" style="margin-left: 10%">View</button></a>
                                </div>
                                <div class="col s4">
                                <p id="maxStakeText"><i>Max Stake: {{max_wager}}</i></p>
                                </div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
        </div>

</div>


<div id="modal2" class="modal">
        <div class="modal-content">
          <h5>You added 500 credits to your account!</h5><br><br>
          <div class="row">
                <p>
                 Your new balance is <b><span id="bl">{{userBalance}}</span></b>
                </p>
            </div>
        </div>
        <div class="modal-footer">
        <form action = "/myaccount" method = "POST" id="updateBal">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('updateBal').submit()">Close</a>
          </form>
        </div>
</div>

<style>

    .card-panel {

        box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
                        color: white;
                        background-color: #596D78;
    }

    #maxStakeText {
        color: white;
    }
</style>