<div class="container">
    <div class="row">
    <div class="card-panel col s7">
            <img class="materialboxed" src="http://via.placeholder.com/185x185" id="info">
            <p>
                <ul>
                    <li><h5><span id="username">{{user}}</span></h5></li>
                    <li>{{email}}</li>
                    <li>{{phone}}</li>
                    <li>{{credits}}</li>
                    <li><a href="#">Add Credits</a></li>
                    <li><a href="#">Update Contact Information</a></li>
                </ul>
            </p>
    </div>
    <div class="col s1"></div>
    <div class="card-panel col s4">
            <p style="float: left">
                <ul>
                    <li><h5><span id="friends">Friends List</span></h5></li>
                    {{#each friends}}
                    <li><i><p>{{friend}}</p></i></li>
                    {{/each}}
                </ul>
            </p></div>
        </div>

<!-- Your Goals -->

    <div class="row">
        <h4>Your goals...</h4>
        {{#each goals}}
        <div class="row"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="http://via.placeholder.com/120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><i><span id="username">{{user}}</span></i></li>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li><i>About <span id="endDate">20 minutes </span>remaining</i></li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                <button class="btn modal-trigger" data-target="modal1" id="mdl1" style="margin-left: 8%">Stake</button>
                                </div>
                                <div class="col s4">
                                <p><i>60 credits remaining</i></p>
                                </div>
                                <div class="col s4">
                                <button class="btn" style="float:right"><span id="follow"> Follow</span></button>
                                </div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
    </div>

<!-- Your Stakes -->

<div class="row">
        <h4>Your stakes...</h4>
        {{#each goals}}
        <div class="row"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="http://via.placeholder.com/120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><i><span id="username">{{user}}</span></i></li>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li><i>About <span id="endDate">20 minutes </span>remaining</i></li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                <button class="btn modal-trigger" data-target="modal1" id="mdl1" style="margin-left: 8%">Stake</button>
                                </div>
                                <div class="col s4">
                                <p><i>60 credits remaining</i></p>
                                </div>
                                <div class="col s4">
                                <button class="btn" style="float:right"><span id="follow"> Follow</span></button>
                                </div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
    </div>

<!-- Following -->

    <div class="row">
    <h4>Your following...</h4>
 {{#each goals}}
        <div class="row"> 
                    <div class="col s2"></div>
                        <div class="card-panel col s8">
                            <div class="row">
                                    <img class="materialboxed" src="http://via.placeholder.com/120x120" id="info">
                            <p style="float: left">
                                <ul>
                                    <li><i><span id="username">{{user}}</span></i></li>
                                    <li><span id="goal">{{goal_text}}</span></li><br>
                                    <li><i>About <span id="endDate">20 minutes </span>remaining</i></li>
                                </ul>
                            </p>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                <button class="btn modal-trigger" data-target="modal1" id="mdl1" style="margin-left: 8%">Stake</button>
                                </div>
                                <div class="col s4">
                                <p><i>60 credits remaining</i></p>
                                </div>
                                <div class="col s4">
                                <button class="btn" style="float:right"><span id="follow"> Follow</span></button>
                                </div>
                            </div>
                        </div>
                    <div class="col s2"></div>
                </div>
    {{/each}}
        </div>


</div>
