<div class="container-fluid" id="feedGoals">
    <br>
    {{#each goals}}
        <div class="row"> 
        <div class="col s2"></div>
            <div class="card-panel col s8" id="goalCard">
                <div class="row">
                <img class="materialboxed" src="https://robohash.org/{{user_id}}png?bgset=bg2&size=120x120" id="info">
                <p style="float: left">
                    <ul>
                        <li><i><span id="username">{{user}}</span></i></li>
                        <li><span id="goal">{{goal_text}}</span></li><br>
                        <li><i>Ends on {{dateConversion goal_end}}</i></li>
                        <li><b><span id="following">{{follows}}</span> Following</b></li>
                    </ul>
                </p>
                </div>
                
                <div class="row" id="mresp">
                    <div class="col s4">
                    <a href="/view/{{goal_id}}"><button class="btn" style="margin-left: 10%" id="feedView">View</button></a>
                    </div><br class="mr"><br class="mr"><br class="mr">
                    <div class="col s4" id="midView">
                            <div class="progress">
                                    <div class="determinate" id="progressBar" style="width: {{prog}}%"></div>
                            </div>
                            <p class="center-align teal-text"><span id="prgsFeed">{{raised}} / {{max_wager}}</span></p>
                    </div><br class="mr"><br class="mr"><br class="mr">
                    <div class="col s4">
                        <form action = "/follow/{{goal_id}}" method = "POST">
                        <input type="hidden" name="goalid" value={{goal_id}}>
                        <button class="btn interaction" style="float:right" data-num={{goal_id}} id="feedFollow"><span id="follow">{{user_following}}</span></button></a>
                        </form>
                    </div>
                </div>

                {{!-- Mobile Responsiveness --}}

                <div class="row">
                    <div class="col s12 mr" id="midView">
                            <div class="progress">
                                    <div class="determinate" id="progressBar" style="width: {{prog}}%"></div>
                            </div>
                            <p class="center-align teal-text"><span id="prgsFeed">{{raised}} / {{max_wager}}</span></p>
                    </div>
                </div>

            </div>
        <div class="col s2"></div>
    </div>
    {{/each}}
   
