<div class="container-fluid" id="feedGoals">
    <br>
    {{#each goals}}
        <div class="row"> 
        <div class="col s2"></div>
            <div class="card-panel col s8" id="goalCard">
                <div class="row">
                <img class="materialboxed" src="https://robohash.org/{{user_id}}png?bgset=bg2&size=120x120" id="info">
                <p style="float: left">
                    <ul>
                        <li><i><span id="username">{{user}}</span></i></li>
                        <li><span id="goal">{{goal_text}}</span></li><br>
                        <li><i>Ends on {{dateConversion goal_end}}</i></li>
                        <li><b><span id="following">{{follows}}</span> Following</b></li>
                    </ul>
                </p>
                </div>
                
                <div class="row">
                    <div class="col s4">
                    <a href="/view/{{goal_id}}"><button class="btn" style="margin-left: 10%">View</button></a>
                    </div>
                    <div class="col s4">
                            <div class="progress">
                                    <div class="determinate" id="progressBar" style="width: {{prog}}%"></div>
                            </div>
                            <p class="center-align teal-text"><span id="prgsFeed">{{raised}} / {{max_wager}}</span></p>
                    </div>
                    <div class="col s4">
                        <form action = "/follow/{{goal_id}}" method = "POST">
                        <input type="hidden" name="goalid" value={{goal_id}}>
                        <button class="btn interaction" style="float:right" data-num={{goal_id}}><span id="follow">{{user_following}}</span></button>
                        </form>
                    </div>
                </div>
            </div>
        <div class="col s2"></div>
    </div>
    {{/each}}
   
   <style>

       #goalCard {
box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
                        color: white;
                        background-color: #596D78;
       }
   </style>