<div class="container">
    <br><a href="/"><p class="teal-text" style="float: left"><i class="material-icons">arrow_back</i> Back</p></a>
    <h4 class="teal-text" id="mid">About this goal</h4><br>
    <div class="col s12 m7">
            <div class="card horizontal" id="bigGoalCard">
              <div class="card-image">
                <img src="https://robohash.org/{{view.id}}png?bgset=bg2&size=400x400">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <ul>
                        <li><i><span id="username">{{view.user}}</span></i></li>
                        <li><span id="goal">{{view.goal_text}}</span></li><br>
                        <li>{{view.descript}}</li><br>
                        <li><i>Ends on <span id="endDate">{{dateConversion view.goal_end}}</span></i></li>
                        <li><b><span id="following">{{view.follows}}</span> Following</b></li>
                    </ul>
                </div>
                <div class="card-action">
                    <div class="input-field inline">
                    <form action = "/follow/{{view.goal_id}}" method = "POST" id="flw">
                    <a href="#" class="waves-effect waves-light teal-text interaction" onclick="document.getElementById('flw').submit()"><span id="follow">Follow</span></a>
                    </form>
                    </div>
                    <div class="input-field inline">
                    <a href="#modal1" class="waves-effect waves-light modal-trigger teal-text interaction"  id="mdl1">Stake</a>
                    </div>
                </div>
              </div>
            </div>
    </div>

    <br>

    <div class="progress">
            <div class="determinate" id="progressBarView" style="width: {{view.prog}}%"></div>
    </div>
    <p class="center-align teal-text"><span id="prgsView"><span id="raised">{{view.raised}}</span> / <span id="maxWager">{{view.max_wager}}</span></span></p>

    <br>

<!-- Carousel -->

    <h4 class="teal-text" id="mid">Check out what's trending</h4>
    <div class="carousel">
        {{#each users}}
                    <a class="carousel-item" href="/view/{{goal_id}}"><img src="https://robohash.org/{{user_id}}png?bgset=bg2&size=180x180" id="info"></a>
        {{/each}}
    </div>

</div>

<!-- Modal -->

<div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Are you sure?</h4>
          <div class="row">
                <a href="https://placeholder.com"><img src="https://robohash.org/{{userPic}}png?bgset=bg2&size=185x185" id="info"></a>
                <p style="float: left">
                    <ul>
                        <li>
                            <div class="input-field inline">
                            <input type="number" id="stk"></input>
                            <label for="stk">Stake Amount</label>
                            </div>
                        </li><br>
                        <li>Your balance: <b><span id="ubal">{{userBalance}}</span></b></li>
                        
                    </ul>
                </p>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat buyIn" data-goal="{{view.goal_id}}">Stake</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
</div>

<style>

    #bigGoalCard {

        box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
                        color: white;
                        background-color: #596D78;
    }
</style>